<!doctype html>
{% if page.collection == "blog" %}
<p><a href="/blog">back</a></p>
    </div>
{% elsif page.url != "/" %}
      <p><a href="/">
        back</p>
      </a>
{% endif %}
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<div style="height:2%;position: fixed;bottom:0px; "><small>I do not collect any data. No scripts. No cookies. No analytics.</small></div>


  </body>
</html>

<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>
  $(document).ready(function () {
    mermaid.initialize({
      startOnLoad:true,
      theme: "default",
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  });
</script>
