ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style-type: disc;
}

code {
        display: block;
    white-space: pre-wrap;
    font-size: 0.4em;
}

img {
    max-width: min(450px, 85vw);
}

