ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style-type: disc;
}

li {
    margin-bottom: 0.5em;
}

code {
    display: block;
    white-space: pre-wrap;
    font-size: 0.85em;
}

img {
    max-width: min(450px, 85vw);
}

h2 {
    font-size: 1.3em;
    letter-spacing: 0.5px;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

h1 + h2 {
    margin-top: 1em;
}

h3 {
    font-size: 1.05em;
    font-weight: normal;
    margin-top: 1.8em;
    margin-bottom: 0.2em;
}

h3 + em {
    display: block;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 0.8em;
}

.back-link {
    margin-top: 2em;
}
